<!DOCTYPE html>
<html lang="en">
<style type="text/css">
    h1 { font-size: 2em; color: #f4f4f4;}
    </style>
<head>
    <meta charset="UTF-8">
    <title>thanks</title>
    </head>
<body background="https://firebasestorage.googleapis.com/v0/b/myappp-1938c.appspot.com/o/flipkartlight.jpg?alt=media&token=27f34937-686c-43c3-8d2f-3fd6f4eebdb2">
<h1>Thanku for searching <%=p %></h1>
</body>
</html>