<!DOCTYPE html>
<html lang="en">
<style type="text/css">
    h1 { font-size: 2em; color: #f4f4f4;}
    </style>
<head>
    <meta charset="UTF-8">
    <title>thanks</title>
    </head>
<body background="https://firebasestorage.googleapis.com/v0/b/myappp-1938c.appspot.com/o/black.jpg?alt=media&token=6a1900e0-0f75-4943-a58b-9eb8c2441f52">
<h1> best deals <%=ad%> </h1>

<iframe src="<%=content %>"  width="400" height="400" align="left"></iframe>

<iframe src="https://retargeting.biz/blog/wp-content/uploads/2016/04/BehavioralTargeting.gif"  width="400" height="400" align="left"></iframe>

<iframe src="http://zibaba.com/blog/wp-content/uploads/2014/08/Facebook-Retargeting.png"  width="400" height="400" align="left"></iframe>










</body>

</html>