<!DOCTYPE html>
<html lang="en">
<style type="text/css">
    h1 { font-size: 2em; color: #f4f4f4;}
</style>
<head>
    <meta charset="UTF-8">
    <title>deals</title>
</head>
<body background="https://firebasestorage.googleapis.com/v0/b/myappp-1938c.appspot.com/o/black.jpg?alt=media&token=6a1900e0-0f75-4943-a58b-9eb8c2441f52">
<h1>Best deals of the day !! </h1>
<iframe src="https://firebasestorage.googleapis.com/v0/b/myappp-1938c.appspot.com/o/Placements2015-16.jpg?alt=media&token=594e00ae-3fa4-4647-898a-0b5bf3cbde5a"   width="600" height="400" align="right"></iframe>

<iframe src="https://firebasestorage.googleapis.com/v0/b/myappp-1938c.appspot.com/o/e-commerce-background_23-2147507979.jpg?alt=media&token=0403f1a9-cee8-4732-a779-3f92abc0071d"  width="400" height="400" align="left"></iframe>





</body>
</html>